[submodule "modules/pathogen"]
	path = modules/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/php-doc-modded"]
	path = bundle/php-doc-modded
	url = git@github.com:Rican7/php-doc-modded.git
[submodule "bundle/vim-phpqa"]
	path = bundle/vim-phpqa
	url = git@github.com:joonty/vim-phpqa.git
